<!DOCTYPE html>
<html>
    <head>
        <title>Great Number Game</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/scripts.js')}}"></script>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
    </head>
    <body>
        <div>
            <h3>Welcome to the Great Number Game!</h3>
            <p>i am thinking of a number between 1 and 100</p>
            <p>Take a guess!</p>
            {%if session['message'] != ''%}
                <div class="result" style="--c: {{session['colour']}}">
                    <h2>{{session['message']}}</h2>
                    {%if session['hidden'] == False%}
                        <form action="/reset">
                            <input type="submit" value="Play Again!" name="reset">
                        </form>
                    {%endif%}
                </div>
            {%endif%}
            <form action="/guess" method="post">
                <input type="number" name="guess" id="guess">
                <input type="submit" name="Submit" id="submit">
            </form>
        </div>
    </body>
</html>